body {
    background-color: rgb(11, 11, 88);
}

.main-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 249, 167);
    padding: 20px;
}

.form {
    padding: 25px;
}

.title-card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 249, 167);
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 12px;
}


.favourite-series{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 249, 167);
}


.section {
    display: flex;
    justify-content: space-around;

}

.anime-card {
    width: 500px;
}

.divs {
    padding: 20px;
}

.hidden {
    display: none;
}

.favourite-card{
    background-color:  rgb(241, 249, 167);
}

.title-anime-card {
    color: rgb(10, 3, 82);
}

